<head>

    <meta charset="UTF-8"></meta>
    <title>PROJET_INF5190_HIVER20</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    
</head>

<body id="imgFond">
    <div class="centrer">
        <h1 id="position" style="color:wheat"> 404......PAS DE PAPIER HYGIENIQUE POUR VOUS</h1>
    </div>
</body>