{% extends 'layouts/default.html' %}

{% block body %}

    <form id="form">

        <h4>Recherche par dates</h4>

        <div class="input-group">
            <input type="text" placeholder="Du (yyyy-mm-dd)" class="du" name="du" required>
        </div>

        <div class="input-group">
            <input type="text" placeholder="Au (yyyy-mm-dd)" class="au" name="au" required>
        </div>

        <div class="input-group-btn">
            <a href="#" id="process_input">
                <button class="btn btn-default" style="width:404px" id="btn">Rechercher</button>
            </a>
        </div>
        <p id=result></p>

    </form>

    <form id="form2">

        <h4>Recherche par nom</h4>

        <div class="input-group">
            <select name="nom" id="liste">
                <option value="">--Veuillez choisir un nom--</option>
                {%if etablissement != None%}
                    {% for etab in etablissement %}
                        <option class="choix" name="choix" value="{{ etab }}">
                            <strong>
                                {{ etab }}
                            </strong>
                        </option>
                    {% endfor %}
                {%endif%}
            </select>
        </div>

        <div class="input-group-btn">
            <a href="#" id="process_input2">
                <button class="btn btn-default" style="width:404px" id="btn">Rechercher</button>
            </a>
        </div>
        <p id=resultat></p>

    </form>

    <div id="restbtn1">
        <a href="{{ url_for('select_etab_decr') }}">
            <button style="width:404px" id="btn">Liste des établissements avec infractions</button>
        </a>
    </div>
    <div id="restbtn2">
        <a href="{{ url_for('select_etab_decr_xml') }}">
            <button style="width:404px" id="btn">Liste des établissements avec infractions(xml)</button>
        </a>
    </div>
    <div id="restbtn3">
        <a href="{{ url_for('select_etab_decr_csv') }}">
            <button style="width:404px" id="btn">Liste des établissements avec infractions(csv)</button>
        </a>
    </div>

{% endblock body %}