<!DOCTYPE html>

<html>

    <head>

      <title>PROJET_INF5190_HIVER20</title>
      <meta charset="UTF-8"></meta>
      <meta name="viewport" content="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
      <script src="static/javascript/script.js"></script>
    
    </head>

    <body style="color: black">

      <nav>
       
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

          <li class="nav-item">
            <a href="{{ url_for('afficher_formulaire') }}">Creer profil utilisateur</a>
          </li>

        </ul>
        
      </nav>

      <!-- % est mis pour exprimer une logique-->
      {% include 'layouts/shared/nav.html' %}

      {% block body %}{% endblock body %}

    </body>

</html>