<form class="navbar-form navbar-right" action="{{ url_for('recherche_contrevenant') }}" method="POST">
    <div class="input-group">
        <input type="text" name="resultat" placeholder="Rechercher">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>