body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#imgFond {
  background-image: url("virus-4937553_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#position {
  top:50%;
  left:80%;
  margin-left: auto;
  margin-right: auto;
}

:root {
    --sidebar-width: 200px;
}

html {
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #111;
  }

#form {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-150px;
  margin-top:-150px;
}

#form2 {
  position:absolute;
  top:50%;
  left:20%;
  margin-left:-150px;
  margin-top:-150px;
}

#btn {
  border: none;
  font-weight: bold;
  color: white;
  background: darkgray;
}

#liste {
  border: none;
  font-weight: bold;
  color: darkgray;
  width:404px;
  height:60px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#restbtn1 {
  position:absolute;
  top:35%;
  left:80%;
  margin-left:-150px;
  margin-top:-150px;
  border: black;
  font-weight: bold;
  background: darkgray;
}

#restbtn2 {
  position:absolute;
  top:50%;
  left:80%;
  margin-left:-150px;
  margin-top:-150px;
  border: black;
  font-weight: bold;
  background: darkgray;
}

#restbtn3 {
  position:absolute;
  top:65%;
  left:80%;
  margin-left:-150px;
  margin-top:-150px;
  border: black;
  font-weight: bold;
  color: white;
  background: darkgray;
}