<head>

    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJET_INF5190_HIVER20</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <script src="/static/javascript/script.js"></script>
    
</head>

{% block body %}

    <div>
        <form>

            <label for="name">Nom</label>
            <input type="text" id="name" name="nom" placeholder="Votre nom.." required>
        
            <label for="courriel">Adresse Courriel</label>
            <input type="text" id="courriel" name="courriel" placeholder="Entrez votre mail.." required>

            <label for="etablissements">Etablissements</label>
            <input type="text" id="etablissements" name="etablissements" placeholder="La liste des etablissements a surveiller.." required>
        
            <label for="passp">Mot de Passe</label>
            <input type="password" id="passp" name="passp" minlength="8" placeholder="Entrez votre de passe.." required>

            <input type="submit" onclick="sendData()" value="Envoyer">
            
        </form>
        
    </div>

{% endblock body %}