<table>
    
    {% for contrev in info %}

        <ul>  

            <li line-height="1em" value="{{ contrev }}"><strong>{{ contrev[0] }}</strong></li>
            <li value="{{ contrev }}"> <strong>{{ contrev[1] }}</strong></li>

        </ul>

    {% endfor %}

    <style type="text/css">
        li{
        padding:40px;
        }
    </style>

</table>