{%if not recherche %}
    <div>Entrée invalide ou aucune contravention pendant cette periode</div>

{% else %}

    <table>

        <tr>
            <th> <strong> ETABLISSEMENT </strong> </th>
            <th> <strong> NOMBRE DE CONTRAVENTIONS OBTENUS </strong> </th>
        </tr>

            {% for contrev in recherche %}
            
                <tr> 

                    <td> {{ contrev["Etablissements"] }} </td>
                    <td> {{ contrev["Contraventions"] }} </td>

                </tr>

            {% endfor %}

    </table>

{%endif%}