{% extends 'layouts/default.html' %}

{% block body %}

    <h1> Liste des contrevenants trouvés</h1>

    {% if not cherch_contrevenant %}
        <p>Aucun contrevenant correspondant à la recherche n'a été trouvé</p>
    {% else %}

        {% for contrevenant in cherch_contrevenant %}

            <ul>  

                <li value="{{ contrevenant[0] }}">Proprietaire: <strong>{{ contrevenant[0] }}</strong></li>
                <li value="{{ contrevenant[1] }}">Categorie: <strong>{{ contrevenant[1] }}</strong></li>
                <li value="{{ contrevenant[2] }}">Etablissement: <strong>{{ contrevenant[2] }}</strong></li>
                <li value="{{ contrevenant[3] }}">Adresse: <strong>{{ contrevenant[3] }}</strong></li>
                <li value="{{ contrevenant[4] }}">Ville: <strong>{{ contrevenant[4] }}</strong></li>
                <li value="{{ contrevenant[5] }}">Descrip: <strong>{{ contrevenant[5] }}</strong></li>
                <li value="{{ contrevenant[6] }}">Date_infraction: <strong>{{ contrevenant[6] }}</strong></li>
                <li value="{{ contrevenant[7] }}">Date_jugement: <strong>{{ contrevenant[7] }}</strong></li>
                <li value="{{ contrevenant[8] }}">Montant: <strong>{{ contrevenant[8] }}</strong></li>
                
            </ul><br>

        {% endfor %}

    {% endif %}

{% endblock body %}